@import '../../styles/variables';
@import '../../styles/fonts';
@import "../../styles/mixins.scss";


.mainLayoutWrapper{
    position: relative;
    padding: 26px 31px 11px 0px;
    height: 100vh;
    background-color: $cornflower-blue;
    display: flex;
}
.mainLayoutNavigation{
    position: relative;
    @include display-flex($direction: column, $justify: center, $align: center);
    height: 100%;
    width: 81px;
    background-color:  $cornflower-blue;
    .title{
        position: absolute;
        top: 60px;
        transform: rotate(-90deg);
        @include font-style($family: 'Quicksand', $size: 27px, $bold: 700, $color:  $white);
    }
    .navigationTab{
        cursor: pointer;
        width: 100%;
        position: relative;
        padding: 21px 11px;
        background-color: transparent;
        outline: none;
        border: none;
        transition: all 0.3s ease-in-out;
        @include font-style($family: 'Inter', $size: 12px, $bold: 400, $color:  $white);
        @include display-flex($justify: space-between, $align: center, $direction: column);
        &:hover{
            background-color: #ffffff21;
            &::before{
                height: 100%;
            }
        }
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 0;
            transition: all 0.3s ease-in-out;
            width: 5px;
            background-color: $dodger-blue;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        &.active{
            background: #ffffff21;
            &::before{
                height: 100%;
            }
        }
        img{
            margin-bottom: 6px;
            height: 30px;
        }
    }
}
.mainLayoutContent{
    overflow-y: auto;
    border-radius: 30px;
    height: 100%;
    width: 100%;
    background-color: $mercury;
}



@media (max-width:1530px) {
    
}