@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';
@import "../../styles/mixins.scss";


.newProcess{
    z-index: 1;
    position: fixed;
    right: -600px;
    top: 5px;
    height: 100%;
    width: 600px;
    background-color: $bunting;
    &Title{
        margin-bottom: 33px;
        @include font-style($family: 'Inter', $size: 18px, $bold: 600, $color:  $mine-shaft);
    }
    &InputWrapper{
        margin-bottom: 30px;
        position: relative;
        input, textarea{
            outline: none;
            width: 385px;
            border: 1px solid $blue-zodiac;
            padding: 15px;
            border-radius: 6px;
            @include font-style($family: 'Inter', $size: 14px, $bold: 400, $color:  $scorpion);
        }
        textarea{
            min-height: 125px;
            resize: none;
        }
        div{
            margin-top: 5px;
            position: absolute;
            padding-left: 10px;
            @include font-style($family: 'Inter', $size: 14px, $bold: 400, $color:  $red);
        }
    }
    &Anchors{
        height: 250px;
        overflow-y: auto;
        padding-left: 17px;
        margin-bottom: 20px;
        p{
            margin-bottom: 15px;
            @include font-style($family: 'Inter', $size: 14px, $bold: 400, $color:  $scorpion);
        }
    }
    &File{
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 87px;
        width: 90px;
        @include display-flex($justify: center, $align: center);
        img{
            height: 32px;
        }
        input{
            display: none;
        }
        & + div{
            position: absolute;
            right: 10px;
            top: 90px;
            @include font-style($family: 'Inter', $size: 12px, $bold: 400, $color:  $red);
        }
    }
    &Submit{
        position: relative;
        cursor: pointer;
        width: 550px;
        height: 57px;
        border-radius: 6px;
        background-color: $chambray;
        outline: none;
        border: none;
        position: absolute;
        bottom: 43px;
        left: 50%;
        transform: translateX(-50%);
        @include font-style($family: 'Inter', $size: 16px, $bold: 500, $color:  $white);
    }
    &Bg{
        z-index: 2;
        height: 100%;
        width: 600px;
        background-image: url('../../assets/images/form-bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: -5px;
        left: 0px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        img{
            position: absolute;
            cursor: pointer;
            top: 30px;
            right: 25px;
            height: 40px;
        }
    }
    
    
    &Form{
        position: relative;
        padding: 80px 35px 42px 30px;
        height: 100%;
        z-index: 3;
    }
    transition: all 0.3s ease-out;
    &.showForm{
        right: 0px;
    }
}