@mixin display-flex(
  $justify: null,
  $align: null,
  $wrap: null,
  $direction: null,
  $grow: null
) {
  display: flex;
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
  @if $wrap {
    flex-wrap: $wrap;
  }
  @if $direction {
    flex-direction: $direction;
  }
  @if $grow {
    flex-grow: $grow;
  }
}

@mixin font-style(
  $size: null,
  $bold: null,
  $color: null,
  $lineHeight: null,
  $family: null
) {
  @if $size {
    font-size: $size;
  }
  @if $bold {
    font-weight: $bold;
  }
  @if $color {
    color: $color;
  }
  @if $lineHeight {
    line-height: $lineHeight;
  }
  @if $family {
    font-family: $family;
  }
}