$cornflower-blue: #2e4370;
$mercury: #f9fafb;
$white: #ffffff;
$dodger-blue: #5182FF;
$black: #000000;
$fiord: #46536b;
$chambray: #375589;
$bunting: #142443;
$chambray-light: #3755897e;
$alabaster: #FAFAFA;
$mine-shaft: #323232;
$dove-gray: #666666;
$mine-shaft-dark: #2b2b2b;
$scorpion: #5F5F5F;
$blue-zodiac: #1123447e;
$red: #ff0000;