@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/mixins.scss';

.processCard{
    position: relative;
    border-top-right-radius: 5px;
    background-color: $chambray;
    height: 226px;
    padding: 30px 100px 15px 17px;
    left: 5px;
    filter: drop-shadow(4px 1px 15px rgba(154, 160, 170, 0.15));
    &.recommended{
        background-color: $chambray-light;
    }
    &.loading{
        height: 236px;
        background-color: #112b5aaf;
        left: 0;
        border-radius: 2px;
        .processCard{
            &Icon{
                background: none;
                position: relative;
                width: fit-content;
                height: 100px;
                left: 130px;
                transform: translateX(-50%);
            }
            &Title, &Description{
                margin-bottom: 12px;
                @include font-style($family: 'Montserrat', $size: 18px, $bold: 600, $color:  $white);
            }
            &Description{
                font-weight: 400;
            }
        }
    }
    &Icon{
        width: 410px;
        height: 236px;
        background-image: url('../../assets/images/process-bg.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: -5px;
        right: -5px;
        img{
            position: absolute;
            top: 20px;
            right: 20px;
            height: 40px;
        }
    }
    &Title{
        position: relative;
        z-index: 2;
        margin-bottom: 38px;
        @include font-style($family: 'Montserrat', $size: 18px, $bold: 600, $color:  $mine-shaft);
    }
    &Description{
        position: relative;
        z-index: 2;
        @include font-style($family: 'Quicksand', $size: 12px, $bold: 400, $color: $dove-gray, $lineHeight: 21px);
    }
}

@media (max-width:1530px) {

    .processCard{
        height: 156px;
        padding: 13px 50px 15px 15px;
        &Icon{
            width: 290px;
            height: 166px;
            img{
                top: 15px;
                right: 15px;
                height: 30px;
            }
        }
        &Title{
            margin-bottom: 33px;
        }
        &.loading{
            top: -5px;
            height: 166px;
            width: 290px;
        }
    }
}