@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';
@import "../../styles/mixins.scss";

.anchorField{
    height: 40px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    textarea{
        height: 165px;
    }
    &Head{
        height: 40px;
        cursor: pointer;
        @include font-style($family: 'Montserrat', $size: 18px, $bold: 500, $color:  $mine-shaft);
        @include display-flex($align: center);
        img{
            transition: all 0.3s ease;
            margin-right: 13px;
        }
    }
    &Body{
        padding-left: 30px;
    }
    &.isOpen{
        .anchorFieldHead img{
            transform: rotate(-180deg);
        }
        height: 250px;
    }
}