@import '../../styles/variables';
@import '../../styles/fonts';
@import "../../styles/mixins.scss";


@mixin title($fz) {
    display: block;
    margin-bottom: 34px;
    @include font-style($family: 'Montserrat', $size: $fz, $bold: 600, $color:  $mine-shaft-dark);
}

.processes{
    width: 100%;
    position: relative;
    &Header{
        padding: 0px 35px;
        height: 80px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        @include display-flex($justify: space-between, $align: center);
    }
    &Title{
        @include font-style($family: 'Quicksand', $size: 20px, $bold: 500, $color:  $black);
        @include display-flex($align: center);
        img{
            height: 16px;
        }
        div{
            margin-left: 25px;
        }
    }
    &Calendar{
        @include font-style($family: 'Poppins', $size: 16px, $bold: 400, $color:  $fiord);
        @include display-flex($align: center);
        img{
            height: 20px;
        }
        div{
            margin-left: 10px;
        }
    }
    &List{
        position: relative;
        padding: 25px 55px;
        button{
            cursor: pointer;
            width: 120px;
            height: 38px;
            line-height: 38px;
            position: absolute;
            top: 20px;
            right: 45px;
            outline: none;
            border: none;
            border-radius: 6px;
            background-color: $chambray;
            @include font-style($family: 'Inter', $size: 12px, $bold: 600, $color:  $alabaster);
        }
    }

}


.myProcesses, .recommendedProcesses{
    &>div{
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(3, 400px);
        column-gap: 55px;
        row-gap: 30px;
    }
}
.myProcesses{
    span{
        @include title(18px)
    }
}
.recommendedProcesses{
    span{
        @include title(16px)
    }
}

@media (max-width:1530px) {
    .processes{
        &Header{
            padding: 0px 35px;
            height: 80px;
        }
        &Title{
            font-size: 20px;
            img{
                height: 16px;
            }
            div{
                margin-left: 25px;
            }
        }
        &Calendar{
            font-size: 16px;
            img{
                height: 20px;
            }
            div{
                margin-left: 10px;
            }
        }
        &List{
            padding: 25px 55px;
            button{
                width: 120px;
                height: 38px;
                line-height: 38px;
                top: 20px;
                left: 880px;
            }
        }
    
    }
    .myProcesses, .recommendedProcesses{
        &>div{
            margin-bottom: 50px;
            grid-template-columns: repeat(3, 280px);
            column-gap: 50px;
            row-gap: 40px;
        }
    }
}